<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <mirrors>
        <!-- ### configured mirrors ### -->
		<mirror>
			<id>nexus</id>
			<mirrorOf>central</mirrorOf>
			<name>internal nexus repository</name>
			<url>https://nexus.alltosea.com/repository/maven-public/</url>
		</mirror>
    </mirrors>

    <proxies>
        <!-- ### configured http proxy ### -->
    </proxies>

    <!--<profiles>-->
        <!--&lt;!&ndash; Override the repository "central" from the Maven Super POM, to set HTTPS by default &ndash;&gt;-->
        <!--<profile>-->
            <!--<id>securecentral</id>-->
            <!--<repositories>-->
                <!--<repository>-->
                    <!--<id>central</id>-->
                    <!--<url>https://repo1.maven.org/maven2</url>-->
                    <!--<releases>-->
                        <!--<enabled>true</enabled>-->
                    <!--</releases>-->
                <!--</repository>-->
            <!--</repositories>-->
            <!--<pluginRepositories>-->
                <!--<pluginRepository>-->
                    <!--<id>central</id>-->
                    <!--<url>https://repo1.maven.org/maven2</url>-->
                    <!--<releases>-->
                        <!--<enabled>true</enabled>-->
                    <!--</releases>-->
                <!--</pluginRepository>-->
            <!--</pluginRepositories>-->
        <!--</profile>-->

        <!--&lt;!&ndash; central repositories via HTTP. Disabled by default. &ndash;&gt;-->
        <!--<profile>-->
            <!--<id>insecurecentral</id>-->
            <!--<repositories>-->
                <!--<repository>-->
                    <!--<id>central</id>-->
                    <!--<url>http://repo1.maven.org/maven2</url>-->
                    <!--<releases>-->
                        <!--<enabled>true</enabled>-->
                    <!--</releases>-->
                <!--</repository>-->
            <!--</repositories>-->
            <!--<pluginRepositories>-->
                <!--<pluginRepository>-->
                    <!--<id>central</id>-->
                    <!--<url>http://repo1.maven.org/maven2</url>-->
                    <!--<releases>-->
                        <!--<enabled>true</enabled>-->
                    <!--</releases>-->
                <!--</pluginRepository>-->
            <!--</pluginRepositories>-->
        <!--</profile>-->
    <!--</profiles>-->

    <!--<activeProfiles>-->
        <!--<activeProfile>securecentral</activeProfile>-->
    <!--</activeProfiles>-->
</settings>
